/*-- fonts -section ---*/
@font-face {
    font-family: 'catorze27_style';
    src: url('../fonts/catorze27style1-bold.eot');
    src: url('../fonts/catorze27style1-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/catorze27style1-bold.woff2') format('woff2'),
         url('../fonts/catorze27style1-bold.woff') format('woff'),
         url('../fonts/catorze27style1-bold.ttf') format('truetype'),
         url('../fonts/catorze27style1-bold.svg#catorze27_style_1bold') format('svg');
    font-weight: 600;
    font-style: normal;

}

a, a:focus {
	outline:none;}

h2 {
    font-family: 'catorze27_style', sans-serif;
	font-weight:400;
	font-size:22px;
	line-height:44px;
	text-align:center;
	text-transform:uppercase;
	background:url(../images/tile_headers-bg.png) center bottom  no-repeat;}
	
h4 {	
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	text-align:center;
	font-size:14px;}
	
section,footer {
	max-width:1005px;
	margin:0 auto;}
	
section > div > div > div:last-child {
	padding-bottom:20px;
	border-bottom:1px solid #e2e2e2;} 	

body {
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:black;
	line-height:18px;}
	
	
.text-holder > p, .text-holder article > p {
	text-align:justify;}	
	
/*-- hrader part ---*/
header {
	position:relative;
	background:url(../images/veterany3-2ext.jpg) center center no-repeat;
	height:228px;
	padding-top:50px;}
	
header > .nav-holder {
	top:0;
	left:right;
	width:100%;
	position:absolute;}	
	
header > div > nav.navbar {
	right:0;
	top:0;
	position:absolute;
	z-index:100;
	border:none;
	background:none;}
	
header .nav-holder > .sm-nav-logo-holder {
	top:5px;
	position:absolute;}
	
header > div > nav.navbar .navbar-toggle {
	position:absolute;
	right:0;
	top:0;
	height:40px;
	width:40px;
	margin-right:0;
	margin-top:0;
	background-color:white;
	border:none;
	border-radius:0px;}
	
header > div > nav.navbar .navbar-toggle:focus , header > div > nav.navbar .navbar-toggle:hover {
	background-color:white;}
	
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:white;}
	
header > div > nav.navbar .navbar-toggle .icon-bar {
	background-color:#4f4f4f;
	height:3px;}
	
	
	
#bs-navbar-collapse {
	background-color:white;
	border-bottom:3px solid #4f4f4f;}
	
.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;}

	
#bs-navbar-collapse.collapsing {
	z-index:-10}
	
#bs-navbar-collapse .navbar-nav	 {
	padding-right:50px;
	margin-top: 40px;}
	
#bs-navbar-collapse .navbar-nav > li > a {
	text-transform:uppercase;}
	
	
.logo-holder {
	text-align:center;}
	
.logo-holder > a {
	display:inline-block;}
		
.logo-holder > a > img {
	height:140px;
	width:80px;}
	
	
/*-- activites -- */
.tabs-holder .nav-tabs {
	border-bottom:none;
	margin-bottom:20px;}

.tabs-holder .nav-tabs > li {
	float:none;}
	
.tabs-holder .nav-tabs > li.active > a, #activites .nav-tabs > li.active > a:hover, #activites .nav-tabs > li.active > a:focus {
	border:none;}
	
.tabs-holder .nav-tabs > li.active > a {
	font-weight:600;
	text-decoration:none;}
		
.tabs-holder .nav-tabs > li > a {
	border:none;
	border-radius:none;
	line-height:20px;
	font-size:14px;
	text-decoration:underline;
	color:black;
	padding:2px;
	text-align:center;}
	
.tabs-holder.nav-tabs > li > a:hover, #activites .nav-tabs > li > a:focus  {
	background-color:white;}
	
/*-- memories -- */
	
.memories .photo-holder {
	text-align:center;}	
	
.memories .descr-holder > p {
	text-align:justify;}
	
/* -- documents -- */
.meniu-item-holder > .meniu-item-heading {
	text-align:center;
	margin-bottom:10px;}
	
.meniu-item-holder > .meniu-item-heading > a {
	text-decoration:none;
	text-align:center;
	color:black;
	font-size:14px;
	font-weight:700;}
	
.meniu-item-holder .collapse {
	text-align:justify;
	padding-bottom:20px;}
		
.meniu-item-holder > .meniu-item-heading > a.collapsed {
	text-decoration:underline;}
	
.meniu-item-holder > .meniu-item-heading > a:hover {
	cursor:pointer;}
	
/*--- partners ---*/
.partners-photo {
	width:100%;
	text-align:center;}
	
.partners-photo > a {
	display:block;
	font-size:13px;
	color:#959595;
	text-decoration:underline;}
	
.partners-photo > a:hover {
	text-decoration:none;}
	
/*-- photo gallery section --*/
.galls-holder {
	width:100%;
	text-align:center;}
	
.gall {
	margin-bottom:20px;}	
	
.gall > a  {
	cursor:pointer;
	display:block;
	text-align:center;
	color:black;
	text-decoration:underline;}
	
.gall > a:hover  {
	text-decoration:none;}
	
.gall > a > span  {
	display:block;}
	
.gallery-list > h4 {
	text-align:center;
	margin-bottom:20px;}	
	
/*-- contact section --*/
.contacts .text-holder table tr > td:first-child {
	vertical-align:top;
	width:30%;
	font-weight:700;
	text-align:left;}		

.contacts .text-holder table tr > td{
	vertical-align:top;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;}
	
/*--- footer   ----*/
footer {
	padding:30px 0px;}

footer .text-holder {
	text-align:center;
	color:#adadad;}
	
/*---- media responce part ----*/
@media (min-width: 471px) {
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px){
	body h2 {font-size:35px; line-height:60px;}
	header {padding-top:80px;;height:260px;}
	header > .nav-holder {background:white; width:100%; height:60px; margin-bottom:20px;}
	header > div > nav.navbar .navbar-header {position:relative;}
	header > div > nav.navbar .navbar-toggle { right:10px; top:5px;}
	#bs-navbar-collapse {margin-right:10px;}
	#bs-navbar-collapse .navbar-nav	 { margin-top:50px;}
	
	.photos-holder > .partners-photo {width:25%; height:200px; float:left; }
	 .memories .tab-content {margin-top:20px;}
	 
	.tab-pane > * {float:left;}
	.tab-pane > .photos-holder {width:40%;}
	.tab-pane > .descr-holder {width:58%; padding-left:2%;}
	.tab-pane > .descr-holder > h4 {margin-top:0; text-align:left;}
	.memories .tabs-holder > .nav-tabs {display:block; text-align:center;}
	.memories .tabs-holder > .nav-tabs > li {display:inline-block; width:33%;margin-bottom:10px; }
	.galls-holder {text-align:center;}
	.galls-holder > .gall {display:inline-block; width:49%;}
	
	.contacts .text-holder table tr > td:first-child {width:25%;}
	.contacts .text-holder table tr > td{ text-align:left;}
}



@media (min-width:992px){
	header {height: 280px; padding-top: 100px;}
	header > .nav-holder { height:auto;margin-bottom:0;}
	header > .nav-holder > nav {max-width:1005px; margin-right:auto; margin-left:auto;}
	header > div > nav.navbar { position:static; margin-bottom:0px;}
	#bs-navbar-collapse {border-bottom:none;}
	#bs-navbar-collapse .navbar-nav	 { margin-top:10px; margin-bottom:10px;}
	
	.photos-holder > .partners-photo {width:20%; height:200px; float:left; }
	.memories .tabs-holder > .nav-tabs > li {display:block; width:100%;float:none;}
	.galls-holder > .gall {display:inline-block; width:32%;}
	
	.contacts .text-holder table tr > td:first-child {width:17%;}
	section div > h2 {margin-bottom:40px;}
}


@media (min-width:1200px){
	
	
}